
<div>
  <h1>投稿： <%= @res['title'] %></h1>
  <p>Created by <%= @res['name'] %></p>
  <div id="contet_wrap">
    <p><%= @res['content'] %></p>
  </div>
</div>

<a id="edit_link" href="/edit/<%= @res['id'] %>">編集画面へ</a>

<br>
<br>

<a id="delete_link" href="/delete/<%= @res['id'] %>">投稿を削除する  (´；ω；｀)</a>

<br>
<br>
<br>

<div id="comments_area">
  <div id="comment_form">
    <form action="/comment" method="POST">
      <input type="hidden" name="id" value="<%= @res['id'] %>">
      <label for="input_name">コメント者： </label>
      <input id="input_name" type="text" name="name"><br>
      <label for="input_msg">本文</label>
      <input id="input_msg" type="text" name="msg">
      <input type="submit" value="送信">
    </form>
  </div>
  <div id="comments_show">
    <% unless @comments.first.nil? %>
      <% @comments.each do |comment| %>
        <div class="comment_wrap">
          <p><%= comment['name'] %> さんによる投稿   ：<span class="comment_msg"><%= comment['msg'] %></span></p>
        </div>
      <% end %>
    <% else %>
      <p>この投稿へのコメントはまだありません。</p>
    <% end %>
  </div>
</div>
