
<div>
  <h1>投稿： <%= @res['title'] %></h1>
  <p>Created by <%= @res['name'] %></p>
  <div id="contet_wrap">
    <p><%= @res['content'] %></p>
  </div>
</div>

<a id="edit_link" href="/edit/<%= @res['id'] %>">編集画面へ</a>

<br>
<br>

<a id="delete_link" href="/delete/<%= @res['id'] %>">投稿を削除する  (´；ω；｀)</a>
